server:
  port: 8080

spring:
  application:
    name: store-management

  datasource:
    url: jdbc:mysql://localhost:3306/store_management
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none # Cac cau lenh thay doi cau truc database khong duoc su dung
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  # Flyway Configuration
  flyway:
    enabled: true
    baseline-on-migrate: true # Tự động baseline nếu database đã có dữ liệu
    locations: classpath:db/migration
    baseline-version: 0
    validate-on-migrate: true

  # File upload configuration
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

# File storage configuration
file:
  upload:
    directory: uploads

# JWT Configuration
jwt:
  secret: storeManagementSecretKey12345678901234567890
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  expiration: 86400000 # 24 hours

# Logging
logging:
  level:
    com.storemanagement: DEBUG
    org.springframework.security: INFO
