HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Phân chia công việc ###
EMPLOYEE_TESTING_GUIDE.md
CATEGORY_SUPPLIER_PRODUCT_GUIDE.md
EMPLOYEE_MODULE_API.md
IMPORT_ORDER_FEATURES.md
PRODUCT_FILTER_FEATURES.md
Phân chia công việc BE.pdf